html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --green: #69ad31;
  --black: #363636;
  --lg: #f6f6f6;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  letter-spacing: 1px;
}
p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
}
hr {
  height: 4px;
  width: 5em;
  border: none;
}
h2 {
  font-weight: 600;
  font-size: 2.5em;
}
h3 {
  font-weight: 600;
  font-size: 1.5em;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: var(--black);
}
.logo {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1em;
}
.nav {
  position: relative;
  display: flex;
}
.nav li {
  list-style: none;
  margin-left: 30px;
}
.nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: lightgray;
  font-weight: 300;
  font-size: 0.6em;
}
.nav li a:hover {
  color: var(--green);
}
.banner__ctn {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/intro-bg.jpg);
  background-size: cover;
}
.banner__ctn::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(255, 255, 255, 0.2)
  );
}
.banner__content {
  max-width: 900px;
  text-align: center;
  z-index: 1;
}
.banner__content h1 {
  font-weight: 600;
  font-size: 4em;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner__content p {
  color: white;
  margin-bottom: 3em;
}
.btn {
  display: inline-block;
  font-size: 1em;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  background-color: var(--green);
  transition: 0.3s;
}
#banner__btn:hover {
  letter-spacing: 5px;
}
section {
  padding: 100px;
}
.about__ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__content {
  flex: 0.5;
  text-align: justify;
}
.about__content h2 {
  color: var(--black);
  margin-bottom: 15px;
}
.about__logo {
  color: var(--green);
}
.about__content hr {
  background-color: var(--green);
}
.about__content p {
  color: gray;
}
.about__content p:nth-child(odd) {
  margin-top: 50px;
  margin-bottom: 30px;
}
.about__content p:nth-child(even) {
  margin-bottom: 50px;
}
#about__btn {
  position: relative;
}
#about__btn::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
#about__btn:hover::after {
  width: 100%;
}
#about__btn:hover {
  color: black;
}
.about__card__ctn {
  flex: 0.5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about__card {
  margin-left: 50px;
  box-sizing: border-box;
}
.about__card > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.about__card h3 {
  margin: 15px 0;
}
.about__card p {
  color: gray;
  text-align: left;
}
.service__ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  background-size: cover;
}
.service__header,
.test__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service__header h2,
.test__header h2 {
  color: white;
  margin-bottom: 15px;
}
.service__header hr,
.test__header hr {
  background-color: white;
}
.service__header p,
.test__content p {
  color: white;
  margin-top: 20px;
}
.service__card__ctn {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  gap: 35px;
}
.service__card {
  box-sizing: border-box;
  width: 20vw;
  height: 400px;
  text-align: center;
  color: white;
}
.service__card > img {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #78b546;
  object-fit: contain;
}
.service__card h3 {
  margin: 20px 0;
}
.service__card p {
  color: white;
}
.gallery__ctn,
.contact__ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__header,
.contact__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery__header h2,
.contact__ctn h2 {
  color: black;
  margin-bottom: 15px;
}
.gallery__header hr,
.contact__header hr {
  background-color: var(--green);
}
.gallery__header p,
.contact__header p {
  color: black;
  margin-top: 15px;
}
.gallery__btn {
  margin: 60px 0;
}
.gallery__btn ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.gallery__btn li {
  list-style: none;
  margin-left: 20px;
}
.gallery__btn li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  background-color: lightgray;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.gallery__btn #active {
  background-color: var(--green);
  color: white;
}
.gallery__btn li a:hover {
  background-color: var(--green);
  color: white;
}
.gallery__img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery__img img {
  width: 32%;
  height: auto;
}
.test__ctn {
  width: 100%;
  height: 80vh;
  background: url(assets/testimonials-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.test__ctn::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(105, 173, 49, 0.5);
}
.test__header {
  z-index: 1;
}
.slider__ctn {
  max-width: 100%;
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.test__content {
  display: none;
  user-select: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: -100px;
}
.next {
  right: -100px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.dot-ctn {
  text-align: center;
  margin-top: 30px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: white;
}
.contact__ctn,
.about__ctn,
.gallery__ctn {
  background-color: var(--lg);
}
.contact__info {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact__info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact__info__content h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.contact__info__content hr {
  background-color: lightgray;
}
.contact__info__content p {
  margin-top: 20px;
  line-height: 2em;
  color: gray;
}
.contact__form__ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__form__header {
  margin-bottom: 30px;
}
.contact__form {
  width: 100%;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contact__form .text {
  width: calc(50% - 30px);
}
.contact__form input {
  padding: 15px;
  border: 1px solid lightgray;
}
.contact__form input:hover {
  border: 1px solid var(--green);
  outline: 1px solid var(--green);
}
.contact__form input:focus {
  border: 1px solid var(--green);
  outline: 1px solid var(--green);
}
.contact__form textarea {
  padding: 20px 15px;
  width: calc(100% - 30px);
  min-height: 150px;
  max-height: 300px;
  border: 1px solid lightgray;
}
.contact__form textarea:hover {
  border: 1px solid var(--green);
  outline: 1px solid var(--green);
}
.contact__form textarea:focus {
  border: 1px solid var(--green);
  outline: 1px solid var(--green);
}
#form__btn {
  border: none;
  transition: all 0.1s;
}
#form__btn:hover {
  border: 2px solid var(--green);
  box-shadow: 20px 20px 60px #b6b6b6, -20px -20px 60px #f6f6f6;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: 50px 100px;
}
.icon__ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
#icon {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #464646;
  color: var(--green);
}
#icon:hover {
  color: white;
}
footer p {
  color: gray;
}
footer span {
  color: lightgrey;
}
